@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');

// Variables Color


// Globals
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Poppins', arial ;
  background-color: rgb(243, 244, 237);
}



// Images
#logo {
  margin-top: -5px;
}

//Typed Text
.cursor{
  display: inline-block;
  width: 3px;
  background-color: #046582;
  margin-left: 0.1rem;
  animation: blink 1s infinite;
}

@keyframes blink{
  0%{
    background-color: #046582;
  }
  49%{
    background-color: #046582;
  }
  50%{
    background-color: transparent;
  }
  99%{
    background-color: transparent;
  }
  100%{
    background-color: #046582;
  }
}


// Container

#navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  padding-top: 9px;
  background-color: #f3f4ed;
  height: 75px;
  width: 100%;
}

.container{
  max-width: 400px;
  margin: 0 auto;
}

#nav-container {
  margin-top: 1rem;
}


.list-container {
  max-width: 350px;
  margin: 0 auto;
  margin-top: 5px;

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: #046582;
    font-weight: 400;
    letter-spacing: 0.10rem;
  }
  a:hover {
    border-bottom: 1px solid #046582;
    padding-bottom: -10px;
  }
}


#home{
  padding-top: 200px;
  min-height: 100vh;
  z-index: 1;
  background:#f3f4ed;
  position: relative;
  // background: linear-gradient(0deg, rgba(4,101,130,1) 40vh,  rgba(243,244,237,1) 40vh);
}


// Headings

#navbar h2{
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #046582;
  display: none;
}

h1 {
  text-align: center;
}


.name {
  font-size: 1.5rem;
  font-weight: 400;
  color: #046582;
}

.position {
  font-size: 1.5rem;
  letter-spacing: 5px;
  color: #046582;
  font-weight: 500;
}

.description {
  font-size: 1rem;
  color: #046582;
  text-align: center;
}
// Home
.social-icons{
  max-width: 250px;
  padding-top: 25px;
  margin: 0 auto;
}

.social-icons>a {
  transition: transform 0.2s;
}

.social-icons>a:hover{
  transform: scale(1.5);
}


.shape-container{
  display: none;
}

// Portfolio Section

#portfolio{
  background-color: #046582;
  margin: 0 auto;
  padding: 100px 0;
  text-align: center;
  position: relative;
}

.project-content{
  text-align: center;
  color: #f3f4ed;
  font-weight: bold;
  font-size: 1.3rem;
  margin-top: 20px;
}

.portfolio-content{
  background-color: #f3f4ed;
  padding-bottom: 20px;
}

.my-work{
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.6;
  color: #f3f4ed;
  letter-spacing: 2px;
}


.project-title{
  color: #046582;
}

.project-description{
  font-size: 0.75rem;
  font-weight: 300;
  color: #046582;
}


.img-box{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.card{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 25vh;
  width: 470px;
}


.technologies{
  font-size: 1.5rem;
  color: #046582;
}

// About Me

.about-me-container{
  margin-top: 40px;
}

#about-me{
  height: 100vh;
  background-color: #f3f4ed;
  margin: 0 auto;
  text-align: center;
  position: relative;
  padding: 75px 0;

  .about-me-title{
    color: #046582;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.6;
    letter-spacing: 2px;
  }
}

.description{
  padding-top: 20px;
  text-align: justify;
}

#about-me .tech li{
  width: 25%;
  margin-top: 2rem;
}

.skill-stack{
  margin-top: 100px;
}

.tech{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 1.6rem;
}

.skill-stack-title{
  color: #046582;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.6;
  letter-spacing: 2px;
}

.tech>li>p{
  color: #046582;
}

.tech>li>img{
  width: 35px;
}

// Contact me

#contact-me{
  min-height: 100vh;
  z-index: 1;
  background:#046582;
  position: relative;
  padding: 100px 0;
}

#intro-text-contact{
  padding-top: 80%;
}

h3{
  text-align: center;
}

.contact-text{
  font-size: 1.5rem;
  letter-spacing: 5px;
  color: #f3f4ed;
  font-weight: 700;
}

.position-1{
  color: #f3f4ed;
  font-size: 1.5rem;
  font-weight: 200;
}

.project-cards{
  text-decoration: none;
}

// Buttons

.btn-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 50%;
  margin: 0 auto;
  margin-top: 20px;
}

.btn-container-1{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  margin: 0 auto;
  margin-top: 20px;
  transition: transform .2s;
}

.btn-container-1:hover{
  transform: scale(1.2);
}

.button-1{
  display: inline-block;
  padding: 0.3em 0.8em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 0.7em;
  font-family: 'Poppins', arial;
  font-weight: 300;
  color: #046582;
  background-color:#f3f4ed;
  text-align: center;
  transition: all 0.2s;
}
.button-1:hover {
  background-color: #046582;
  color: #d9dad6;
  border: 1px solid #d9dad6;
}

.button-1:hover {
  background-color: #046582;
  color: #d9dad6;
  border: 1px solid #d9dad6;
}

.button-2{
  display: inline-block;
  padding: 0.3em 0.8em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 0.7em;
  font-family: 'Poppins', arial;
  font-weight: 300;
  color: #f3f4ed;
  background-color:#046582;
  text-align: center;
  transition: all 0.2s;
  text-transform: uppercase;
}

.button-2:hover{
  background-color: #d9dad6;
  color: #046582;
  border: 1px solid #046582;
}


// Scroll Down

.scroll-down{
  height: 50px;
  width: 30px;
  border: 2px solid #046582;
  position: absolute;
  left: 47%;
  bottom: 30%;
  border-radius: 50px;
  cursor: pointer;
}
.scroll-down::before,
.scroll-down::after{
  content: '';
  position: absolute;
  top: 20%;
  left: 50%;
  border: 2px solid #046582;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}

.scroll-down::after{
  top: 30%;
  animation-delay: .3s;
}

@keyframes scroll-down{
  0%{
    opacity: 0;
  }
  30%{
    opacity: 1;
  }
  60%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    top: 90%;
  }
}

// Flexbox

.flex {
  display: flex;

  &-fd-c{
    flex-direction: column;
  }

  &-jc-c{
    justify-content: center;
  }

  &-ai-c{
    align-items: center;
  }

  &-jc-sb{
    justify-content: space-between;
  }

}


.project-cards>.portfolio-content {
  transition: transform 0.9s;
}

.project-cards>.portfolio-content:hover {
  transform: scale(.95);
}



// media queries 

@media only screen and (min-width: 800px) {

  #nav-container {
    max-width: 700px;
    display: flex;
    flex-direction: row;
  }

  #navbar h2{
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #046582;
    display: contents;
  }

  .list-container{
    width: 40%;
  }

  .scroll-down{
    left: 48%;
    bottom: 33%;

  }

  .portfolio-container{
    max-width: 700px;
  }

  .card {
    width: 706px;
    height: 30vh;
    background-position: inherit;
  }

  .about-me-container, .skill-stack-container{
    max-width: 700px;
  }

  .skill-icons {
    padding: top;
  }

  .tech > li > img{
    width: 45px;
  }

  .btn-container{
    max-width: 60%;
  }

  .button-1 {
    padding: 0.9em 1em;
    font-size: .8em;
  }

}

@media only screen and (min-width: 1000px) {

  #nav-container {
    max-width: 900px;
  }

  .list-container{
    width: 50%;
  }


}

// @media only screen and (max-width: 1200px){
//   #nav-container{
//     max-width: 1200px;
//   }
// }

@media only screen and (min-width: 1200px){

  #nav-container{
    max-width: 1200px;
  }

  .list-container {
    margin-right: 200px;
  }

  .heading {
    margin-left: 50px;
  }

  .position{
    font-size: 2.5rem;
  }

  .portfolio-container{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
  }

  .portfolio-content{
    width: 500px;
    margin-bottom: 40px;
  }

  .img-box{
    margin-top: 0;
  }

  .hero {
    max-width: 1200px;
  }

  .scroll-down{
    left: 49%;
  }

  .button-2{
    padding: 0.3em 1em;
    font-size: 0.9em;
  }

  .card{
    background-position: center;
  }
}

@media only screen and (min-width: 1600px){
  .heading{
    margin-left: 0px;
  }
  .list-container {
    margin-right: 100px;
  }
}